.archive/
.dfx/
.env
.mops/
__temp/
node_modules/
mops.lock

*.bak
*.int_backup
*.wasm
.DS_Store

src/declarations/
test/pic/declarations/*.did.js
test/pic/declarations/*.did.d.ts
test/pic/declarations/index.js
test/pic/declarations/index.d.ts
